# Data Collection

In [15]:
import yfinance as yf
import pandas as pd
import numpy as np
import xlsxwriter

RESULT_DIR = '../Results/'

## High Correlation Stocks

In [16]:
high_correlation_stocks = ['EBAY', 'AMZN', 'BBY', 'WMT']

high_correlation_stock_data = yf.download(high_correlation_stocks, 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False, interval='1d')['Adj Close']

In [17]:
high_correlation_stock_data.index = high_correlation_stock_data.index.date
display(high_correlation_stock_data)

                   AMZN        BBY       EBAY         WMT
2018-12-31  1501.969971  50.681561  27.426500   90.500626
2019-01-02  1539.130005  51.294033  28.188618   90.685211
2019-01-03  1500.280029  50.241352  27.670769   90.218872
2019-01-04  1575.390015  50.480598  28.305866   90.782379
2019-01-07  1629.510010  53.361103  28.794405   91.851089
...                 ...        ...        ...         ...
2019-12-23  1793.000000  86.255714  35.914265  117.986633
2019-12-24  1789.209961  86.541130  35.914265  118.462433
2019-12-26  1868.770020  86.462395  35.953941  118.472336
2019-12-27  1869.800049  85.635674  35.775410  118.541725
2019-12-30  1846.890015  86.186821  35.507614  118.353401

[252 rows x 4 columns]

In [18]:
high_correlation_stock_data.to_excel(RESULT_DIR + 'high_correlation_stocks.xlsx')
high_correlation_stock_data.to_csv(RESULT_DIR + 'high_correlation_stocks.csv')

## Low Correlation Stocks

In [19]:
low_correlation_stocks = ['CVX', 'TSLA', 'EA', 'EDU']

low_correlation_stock_data = yf.download(low_correlation_stocks, 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False, interval='1d')['Adj Close']

In [20]:
low_correlation_stock_data.index = low_correlation_stock_data.index.date
display(low_correlation_stock_data)

                   CVX          EA         EDU        TSLA
2018-12-31  101.839668   78.910004   54.810001  332.799988
2019-01-02  103.618286   80.370003   55.310001  310.119995
2019-01-03  101.633728   78.709999   53.950001  300.359985
2019-01-04  103.739975   84.419998   56.570000  317.690002
2019-01-07  105.087990   87.589996   58.619999  334.959991
...                ...         ...         ...         ...
2019-12-23  117.218971  107.790001  124.959999  419.220001
2019-12-24  117.228706  108.550003  124.699997  425.250000
2019-12-26  117.481995  108.510002  125.000000  430.940002
2019-12-27  117.189751  108.430000  124.000000  430.380005
2019-12-30  116.751373  106.930000  123.000000  414.700012

[252 rows x 4 columns]

In [21]:
low_correlation_stock_data.to_excel(RESULT_DIR + 'low_correlation_stocks.xlsx')
low_correlation_stock_data.to_csv(RESULT_DIR + 'low_correlation_stocks.csv')